{
  "root": true,
  "plugins": ["react"],
  "extends": [
    "airbnb-typescript-prettier",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
